.title {
    font-weight: 400;
}

.text {
    font-weight: 400;
}

.titleAccent {
    position: relative;
    color: var(--primary-color);
    text-decoration: underline var(--primary-color);
    text-underline-position: under;
}

.size_s {
    .text {
        font-size: 12px;
        line-height: 18px;
    }

    .title {
        font-size: 28px;
    }
}

.size_m {
    .text {
        font-size: 14px;
        line-height: 24px;
    }

    .title {
        font-size: 34px;
    }
}

.size_l {
    .text {
        font-size: 16px;
        line-height: 32px;
    }

    .title {
        font-size: 50px;
    }
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.bold {
    .title, .titleAccent, .text {
        font-weight: 600;
    }

    .titleAccent::after {
        height: 3px;
    }
}