.Button {
    cursor: pointer;

    padding: 12px 32px;

    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);

    background: transparent;
    border: 1px solid var(--primary-color);

    transition: all 0.1s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.outline {
    &.disabled {
        color: var(--light-text-color);
    }
}

.filled {
    color: var(--bg-color);
    background: var(--primary-color);
}

.clear {
    border: none;
}

.disabled {
    cursor: default;

    color: var(--light-text-color);

    opacity: 0.6;
    background: none;
    border-color: var(--light-text-color);
}

.round {
    border-radius: 40px;
}