.Button {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    padding: 12px 32px;
    transition: all 0.1s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.outline {
    &.disabled {
        color: var(--light-text-color);
    }
}

.filled {
    background: var(--primary-color);
    color: var(--bg-color);
}

.clear {
    border: none;
}

.disabled {
    opacity: 0.6;
    cursor: default;
    background: none;
    color: var(--light-text-color);
    border-color: var(--light-text-color);
}

.round {
    border-radius: 40px;
}