.InfoBlock {
    max-width: 1180px;
    margin: 48px auto;
    padding: 0 24px;

    .img {
        position: relative;

        box-sizing: border-box;
        width: 100%;
        max-width: 30%;
        height: 536px;
        margin: 0 24px ;
    }

    .textContent {
        width: 60%;
    }
}

