.InputWrapper {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    width: 100%;

// height: 44px;

    // height: 48px;
    padding: 8px 12px;

    border: 1px solid var(--primary-color);
    border-radius: 48px;

    &.s {
        height: 26px;
    }

    &.m {
        height: 30px;
    }

    &.l {
        height: 36px;
        padding: 8px 16px;
    }
}

.input {
    width: 100%;

    color: var(--text-color);

    background: none;
    border: none;
    outline: none;

    &::placeholder {
        color: var(--light-text-color);
    }
}

.readonly {
    opacity: 0.6;
}

.addon {
    display: flex;
}

.focused {
	border: 1px solid var(--accent-color);

    .addon svg {
        color: var(--accent-color);
    }
}

.withAddon {
	gap: 8px;
}

